

<h1>Form Food Inventory</h1>

<%= form_with(model: [current_user, Inventory.new], url: user_inventories_path(current_user), local: true) do |form| %>
  <!-- Add the hidden field for inventory ID -->
  <%= form.hidden_field :inventory_id, value: @inventory.id %>

  <div class="field">
    <%= form.label :food_id, 'Select Food:' %>
    <%= form.collection_select(:food_id, Food.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <%= form.submit "Create Food Inventory" %>
<% end %>
