<%= form_with(model: [current_user, Inventory.new], url: user_inventories_path(current_user), local: true) do |form| %>
    <!-- Add the hidden field for user_id -->
    <%= form.hidden_field :user_id, value: current_user.id %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "inventory name" %>
    </div>
    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, placeholder: "Description" %>
    </div>
  
    <%= form.submit "Create Inventory" %>
  <% end %>
  