<%= stylesheet_link_tag 'inventories-show' %>
<div class="inventories-show-cont">
  <div class="inventories-show-main">
    <h1> <%= @inventory.name %> </h1>
    <div class="inventories-show-actions">
      <%= link_to "Add Food", new_user_inventory_food_inventory_path(current_user.id, @inventory.id), class: 'btn'%>
      <%= link_to 'Ingredients List', foods_path, class: 'foods-index-create'  %>
    </div>
    <% if @food.count == 0  %>
      <div>
        <p> No food yet... </p>
      </div>
    <% else %>
      <div class="inventories-show">
        <div class="inventories-show-info">
          <h3 class="inventories-title">Food</h3>
          <h3 class="inventories-title">Quantity</h3>
          <h3 class="inventories-title">Action</h3>
        </div>
        <% @inventory_food_inventories.each do |food_inventory| %>
          <div class="inventories-show-info">
            <p class="inventories-name"> <%= food_inventory.food.name %></p>
            <p class="inventories-quantity"> <%= food_inventory.quantity %> </p>
            <% if can?(:destroy, food_inventory) %>
              <%= button_to "Delete", user_inventory_food_inventory_path(current_user.id, @inventory.id, food_inventory.id), method: :delete, class: "inventories-btn" %>
            <% end %>
          </div>
        <% end  %>
      </div>
      <%= paginate @inventory_food_inventories, class:"pagination" %>
    <% end %>
    <%= render partial: 'shared/back' %>
  </div>
</div>
</div>
