<% stylesheet_link_tag 'recipes' %>
<div class="recipes-index-cont">
  <% if @recipes.count == 0 %>
    <h2>There's no recipes yet</h2>
    <%= link_to 'Add the first', new_recipe_path %>
  <% else %>
    <div class="recipes-index">
      <%= link_to 'Add New Recipe', new_recipe_path, class: 'recipes-index-add' %>
      <% if @my_recipes.any? %>
        <% @my_recipes.map do |recipe| %>
          <div class="recipes-index-list">
            <div class="recipes-index-actions">
              <h2 class="recipes-index-link"><%= link_to recipe.name, user_recipe_path(current_user.id, recipe.id) %></h2>
              <% if can?(:destroy, recipe) %>
                <%= button_to "Remove", recipe_path(recipe.id), method: :delete, class: "recipe-index-remove" %>
              <% end %>
            </div>
            <p class="recipes-index-actions"><%= recipe.description %></p>
          </div>
        <% end %>
        <%= paginate @my_recipes, class: 'pagination' %>
      <% else %>
        <h2 class="recipes-index-empty"> There's no recipes yet </h2>
      <% end %>
  <%= render partial: 'shared/back' %>
    </div>
  <% end %>
</div>
