<%# Recipes Public_Recipes %>
<% stylesheet_link_tag "recipes_public" %>
<div class="public-recipes-cont">
  <div class="public-recipes">
    <% @public_recipes.map do |recipe| %>
      <div class="public-recipes-list">
        <div class="public-recipes-actions">
          <h2 class="public-recipes-link"><%= link_to recipe.name, recipe_path(recipe.id) %></h2>
          <p>By: <%= User.find_by(id: recipe.user_id).name %></p>
        </div>
        <div class="public-recipes-actions">
          <p>Total Food Items: <%= RecipeFood.where(recipe_id: recipe.id).count  %></p>
          
            <%@recipe_food_id = RecipeFood.where(recipe_id: recipe.id) %>
            <%@total_recipe_food = @recipe_food_id.map { |food| food.quantity } %>
          
              <% @recipe_food = RecipeFood.where(recipe_id: recipe.id).map do |food| %>
                <% @food_id = food.food_id %>
                <% Food.where(id: @food_id) %>
              <% end %>
              <% @recipe_food.map do |food| %>
                <% food.map {|food| food.price} %>
              <% end %>
              <% @recipe_food %>
              <% @prices = prices_array = @recipe_food.map do |relation| %>
                <% food_item = relation.first %>
                <% food_item.price %>
              <% end %>
              <% result = @total_recipe_food.map.with_index do |total_food, index| %>
                <% @total_price = total_food * @prices[index] %>
              <% end %>
          <p> Total price: $<%= result.sum %></p>
        </div>

      </div>
    <% end %>
    <%= paginate @public_recipes, class: 'pagination' %>
    <%= render partial: 'shared/back' %>
  </div>
</div>
