<% stylesheet_link_tag "recipes_show" %>

<h1>recipe name: <%= @recipe.name %></h1>
</br>
<h2><%= link_to 'Add Ingredient', new_user_recipe_recipe_food_path(current_user.id, recipe_id: @recipe_id) %></h2>
</br>
preparation time: <%= @recipe.preparation_time.to_i %> minutes
</br>
cooking time: <%= @recipe.cooking_time.to_i %> minutes
</br>
description: <%= @recipe.description %>
</br>
public: <%= @recipe.public.to_s %>
</br>
<% @recipe.recipe_food.map do |recipe_food| %>
</br>
ingredient:<%= recipe_food.food.name %>
</br>
quantity: <%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %>
</br>
price: <%= (recipe_food.quantity * recipe_food.food.price).to_i %> $
</br>
<%# button to delete using the requireds id (current user ID and current food item id) %>
<h3><%= link_to 'Edit Recipe Food', edit_user_recipe_recipe_food_path(current_user, @recipe, recipe_food.id) %></h3>

<%= button_to 'Delete', user_recipe_recipe_food_path(current_user.id, @recipe, recipe_food), method: :delete, turbo_confirm: 'Delete recipe?' %>




<% end %>
<button><%= link_to "Generate Shopping List", user_recipe_shopping_list_path(current_user.id, @recipe), data: { turbo_frame: "shopping_modal" } %></button>

<%= render partial: 'shared/back' %>


