<%= form_with(model: @recipe_food, url: user_recipe_recipe_food_path(current_user, @recipe.id, @recipe_food), local: true, method: :patch) do |form| %>
  <h1 class="comments-form-title">Edit Ingredient</h1>
  <div class="field">
    <div>
      <%= form.label :quantity %>
      <%= form.text_field :quantity, rows: 4, placeholder: "quantity" %>
    </div>
    <div>
      <%= form.label :food_id %>
      <%= form.collection_select(:food_id, Food.all, :id, :name) %>
    </div>
  </div>
  <%= form.submit 'Update Ingredient', class: "submit-btn" %>
  <%= link_to "Go back", :back, class: 'shared-link go-back' %>

  <% puts '00000000000000000' %>
  <% puts @recipe_food.id %>
  <% puts @recipe.id %>
  <% puts '00000000000000000' %>


<% end %>
